{% extends "network/layout.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block body %}
{% for user in followers %}
<article class="media content-section">
    <div class="media-body">
    <div class="article-metadata">
        <img class="post_owner_flag_img" src="{{ user.country.flag }}">
        <small class="text-muted">{{ user.country.name}}</small>
        <a class="mr-2" href="{% url 'profile' user.username %}">{{ user.username }}</a>
        <small class="text-muted">{{ user.email}}</small>
    </div>

    <p class="article-content">{{ user.bio }}</p>
    <a style = "background-color: #add8f0;" class="btn btn-success like_unlike_btn">Unfollow</a>
    </div>
</article>

{% endfor %}

{% endblock %}  