{% extends "network/layout.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block body %}
<br>


{% for user in users %}
<article class="media content-section">
    <div class="media-body">
    <div class="article-metadata">
        <img class="post_owner_flag_img" src="{{ user.country.flag }}">
        <small class="text-muted">{{ user.country.name}}</small>
        <a class="mr-2" href="{% url 'profile' user.username %}"><h5>{{ user.username }}</h5></a>
        <small class="text-muted">{{ user.email}}</small>
    </div>
    <img class="rounded-circle account-img" src="{{ user.user_image.url }}">
    <p class="article-content">{{ user.bio }}</p>


    </div>
    <br>
</article>

{% endfor %}


{% endblock %}